In [18]:
# Populating data into a dataframe, cleaning and creating into an HTML table

import pandas as pd
import csv
import os
import time
import pymongo

In [62]:
county_csv_path = "./county_selected.csv"
data =[]

with open(county_csv_path, newline="") as csvfile:
    csv_reader = csv.reader(csvfile, delimiter=",")
    data = pd.read_csv("county_selected.csv")

    print (data.head(5))

     County  Date  Sales  Dollar Volume  Average Price  Median Price  \
0  Anderson  2011     21        2283718         108724         86696
1  Anderson  2012     27        3364345         123745         98454
2  Anderson  2013     25        3109887         120505         95175
3  Anderson  2014     29        3803191         129666        101063
4  Anderson  2015     29        3975229         136074        109638

   Total Lisings  Months Inventory
0            396                24
1            358                16
2            343                13
3            283                10
4            239                 9

In [ ]:
# Initializing data base

In [19]:
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [20]:
# Creating mongo data base

db = client.housing_income
collection = db.housing_price

In [65]:
# populating data base

post = data.to_dict(orient = 'records')
post

[{'County': 'Anderson',
  'Date': 2011,
  'Sales': 21,
  '_3': 2283718,
  '_4': 108724,
  '_5': 86696,
  '_6': 396,
  '_7': 24},
 {'County': 'Anderson',
  'Date': 2012,
  'Sales': 27,
  '_3': 3364345,
  '_4': 123745,
  '_5': 98454,
  '_6': 358,
  '_7': 16},
 {'County': 'Anderson',
  'Date': 2013,
  'Sales': 25,
  '_3': 3109887,
  '_4': 120505,
  '_5': 95175,
  '_6': 343,
  '_7': 13},
 {'County': 'Anderson',
  'Date': 2014,
  'Sales': 29,
  '_3': 3803191,
  '_4': 129666,
  '_5': 101063,
  '_6': 283,
  '_7': 10},
 {'County': 'Anderson',
  'Date': 2015,
  'Sales': 29,
  '_3': 3975229,
  '_4': 136074,
  '_5': 109638,
  '_6': 239,
  '_7': 9},
 {'County': 'Anderson',
  'Date': 2016,
  'Sales': 35,
  '_3': 4725862,
  '_4': 134604,
  '_5': 122322,
  '_6': 199,
  '_7': 6},
 {'County': 'Anderson',
  'Date': 2017,
  'Sales': 33,
  '_3': 4947390,
  '_4': 146080,
  '_5': 113656,
  '_6': 185,
  '_7': 6},
 {'County': 'Anderson',
  'Date': 2018,
  'Sales': 33,
  '_3': 4941895,
  '_4': 146087,
  '_5': 122646,
  '_6': 161,
  '_7': 5},
 {'County': 'Angelina ',
  'Date': 2011,
  'Sales': 42,
  '_3': 5313962,
  '_4': 126195,
  '_5': 105875,
  '_6': 343,
  '_7': 8},
 {'County': 'Angelina ',
  'Date': 2012,
  'Sales': 43,
  '_3': 6000630,
  '_4': 137830,
  '_5': 122242,
  '_6': 361,
  '_7': 8},
 {'County': 'Angelina ',
  'Date': 2013,
  'Sales': 47,
  '_3': 6838934,
  '_4': 145776,
  '_5': 121988,
  '_6': 367,
  '_7': 8},
 {'County': 'Angelina ',
  'Date': 2014,
  'Sales': 52,
  '_3': 7727520,
  '_4': 147304,
  '_5': 132083,
  '_6': 404,
  '_7': 8},
 {'County': 'Angelina ',
  'Date': 2015,
  'Sales': 50,
  '_3': 7744371,
  '_4': 152800,
  '_5': 135338,
  '_6': 345,
  '_7': 7},
 {'County': 'Angelina ',
  'Date': 2016,
  'Sales': 55,
  '_3': 8613704,
  '_4': 155913,
  '_5': 141329,
  '_6': 341,
  '_7': 7},
 {'County': 'Angelina ',
  'Date': 2017,
  'Sales': 59,
  '_3': 9765539,
  '_4': 165597,
  '_5': 149156,
  '_6': 310,
  '_7': 5},
 {'County': 'Angelina ',
  'Date': 2018,
  'Sales': 60,
  '_3': 10370104,
  '_4': 174303,
  '_5': 156515,
  '_6': 282,
  '_7': 5}]

In [67]:
db.collection.insert_many(post)

In [21]:
# Retrieving annual wages from BLS.gov

import requests
import json
#import prettytable

In [22]:
collection = db.Annual_Wages

In [23]:
# Wages for Anderson, TX county

headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['ENU4800150010'],"startyear":"2011", "endyear":"2018"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    #x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        
        post = {
            'County':'Anderson',
            'Date': year,
            'Annual_Income': value
            
        }
        
        collection.insert_one(post)

In [24]:
# Wages for Angelina, TX county

headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['ENU4800550010'],"startyear":"2011", "endyear":"2018"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    #x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        
        post = {
            'County':'Angelina',
            'Date': year,
            'Annual_Income': value
            
        }
        
        collection.insert_one(post)